.container {
  width: 65%;
  margin-left: 35%;
  height: 100vh;
  padding: var(--padding);
  overflow-y: auto;

  /* Мобильные телефоны */
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
    overflow-y: unset;
    height: auto;
  }

  /* Планшеты (портретный режим) */
  @media (min-width: 767px) and (max-width: 1023px) {
    width: 60%;
    margin-left: 40%;
  }
}

.image_container {
  position: relative;
  cursor: pointer;
}

.image_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (pointer: coarse) {
  .image_container:hover::before {
    opacity: 0;
  }
}

@media (hover: hover) {
  .image_container:hover::before {
    opacity: 1;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.sentry {
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--padding) * 6) 0;
}
